@using BookReader.Web.Helpers
@model IList<BookReader.Data.Models.Genre>
@*<link href="~/lib/jquery-ui/themes/start/jquery-ui.css" rel="stylesheet" />*@
<link href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="~/lib/jquery-ui/jquery-ui.js" asp-append-version="true"></script>

<h3>Genres</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var genre in Model)
		{
			<tr>
				<td>@genre.Name</td>

				<td>
					@if (User.IsInRole(BookReaderRoles.Admin))
					{
						<a href="@Url.Action("Edit", new { id = genre.Id })">Edit</a>
						<a href="#" data-genreId="@genre.Id" class="deleteGenre">Delete</a>
					}
					<form id="@( "deleteGenreForm" + genre.Id)" style="display:none" asp-controller="Genre" asp-action="Delete" method="post">
						<input type="hidden" name="Id" value="@genre.Id" />
						<input type="submit" />
					</form>
				</td>
			</tr>

			}
	</tbody>

</table>

<div style="display:none" id="deleteGenreConfirmation" title="Delete Genre">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;">
		</span>This genre will be permanently deleted. Are you sure?
	</p>
</div>

<script>
	$(document).ready(function () {
		$('.deleteGenre').on('click', function () {
			let id = $(this).attr('data-genreId');
			$("#deleteGenreConfirmation").dialog({
				resizable: false,
				height: "auto",
				width: 400,
				modal: true,
				buttons: {
					"Delete": function () {
						$('#deleteGenreForm' + id).submit();
					},
					Cancel: function () {
						$(this).dialog("close");
					}
				}
			});
		});
	});

</script>
