@using BookReader.Web.Helpers
@model IList<BookReader.Web.ViewModels.Book.BookViewModel>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Genre</th>
			<th>Date</th>
			<th>Author</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var book in Model)
		{
			<tr>
				<td>@book.Title</td>
				<td>@book.Description</td>
				<td>@book.GenreName</td>
				<td>@book.Date</td>
				<td>@book.AuthorName</td>
				@if (book.Status != null)
				{
					<td>@((Status)Enum.Parse(typeof(Status), book.Status))</td>
				}
			</tr>
			}
	</tbody>
</table>
