@model IList<BookReader.Data.Models.Book>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Genre</th>
			<th>Date</th>
			<th>Author</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var book in Model)
		{
			<tr>
				<td>@book.Title</td>
				<td>@book.Description</td>
				<td>@book.Genre.Name</td>
				<td>@book.Date</td>
				<td>@book.Author.Name</td>
			</tr>
			}
	</tbody>
</table>
