@using BookReader.Web.Helpers
@model BookReader.Web.ViewModels.Author.AuthorViewModel

<link href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="~/lib/jquery-ui/jquery-ui.js" asp-append-version="true"></script>
<div class="content">
	<h3>@Model.Name</h3>
	<div class="row">
		<div class="col-md-2">Description</div>
		<div class="col-md-10">@Model.Description</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2">Biography</div>
		<div class="col-md-10">@Model.Biography</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2">Website</div>
		<div class="col-md-10">
			<a href="@Model.Website">@Model.Website</a>
		</div>
	</div>
	<br />
	<div class="pull-right">
		@if (User.IsInRole(BookReaderRoles.Admin))
		{
			<a class="btn btn-primary " href="@Url.Action("Create", "Book", new { authorId = Model.Id })">Add new book</a>
		}
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Genre</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var book in Model.Books)
			{
				<tr>
					<td>@book.Title</td>
					<td>@book.Description</td>
					<td>@book.GenreName</td>
					<td>@book.Date</td>
					<td></td>
					<td>
						@if (book.IsUserBook)
						{
							<div>Added to my books</div>
						}
						else
						{
							<a class="btn btn-primary addToMyBooksButton" href="#" data-bookId="@book.Id">Add to my books</a>
						}
						<div style="display:none" id="addToMyBooks" title="Add to my books">
							<form id="@("addUserBookForm" + book.Id)" class="form-horizontal col-md-4" asp-controller="Book" asp-action="CreateUserBook" method="post">
								<input type="hidden" name="authorId" value="@Model.Id" />
								<input type="hidden" name="bookId" value="@book.Id" />
								<div class="form-group">
									@Html.Label("Status", "Status", new { @class = "col-md-3" })
									@Html.DropDownList("Status", Html.GetEnumSelectList<Status>(), new { @class = "form-control" })
								</div>
							</form>
						</div>
					</td>
				</tr>

			}
		</tbody>
	</table>

</div>

<script>
	$(document).ready(function () {
		$('.addToMyBooksButton').on('click', function () {
			let id = $(this).attr('data-bookId');
			$("#addToMyBooks").dialog({
				resizable: false,
				height: "auto",
				width: 400,
				modal: true,
				buttons: {
					"Add": function () {
						$('#addUserBookForm' + id).submit();
					},
					Cancel: function () {
						$(this).dialog("close");
					}
				}
			});
		});
	});

</script>
