@model BookReader.Web.ViewModels.Author.AuthorViewModel

<div class="content">
	<div class="form-title">
		<h2>Edit Author</h2>
	</div>
	<form class="form-horizontal col-md-4" asp-controller="Author" asp-action="Edit" method="post">
		<div class="form-group">
			@Html.LabelFor(model => model.Name, new { @class = "col-md-3" })
			@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Description, new { @class = "col-md-3" })
			@Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Biography, new { @class = "col-md-3" })
			@Html.TextAreaFor(model => model.Biography, new { @class = "form-control" })
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Website, new { @class = "col-md-3" })
			@Html.TextBoxFor(model => model.Website, new { @class = "form-control" })
		</div>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">Save</button>
			<a href="@Url.Action("Index", "Author")" class="btn btn-default">Cancel</a>
		</div>
	</form>
</div>