@model BookReader.Web.ViewModels.User.ChangePasswordViewModel

<div class="content">
	<div class="form-title">
		<h2>Change Password</h2>
	</div>
	<form class="form-horizontal col-md-5" asp-controller="User" asp-action="ChangePassword" method="post">
		<div class="form-group">
			@Html.LabelFor(model => model.Password, new { @class = "col-md-4" })
			@Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
			@Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-4" })
			@Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password" })
			@Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
		</div>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">Save</button>
			<a href="@Url.Action("Index", "Home")" class="btn btn-default">Cancel</a>
		</div>
	</form>
</div>